.projects_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem;
}
.cardFront {
  margin: 2rem;
  height: 25rem;
  width: 20rem;
  background-color: aqua;
  gap: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  height: 7rem;
  width: 12rem;
}

@media (max-width: 600px) {
  .projects_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}
@media (min-width: 600px) {
  .projects_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media (min-width: 800px) {
  .projects_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
