.aboutpage {
  height: 50vh;
  margin: 2rem;
  border: 0.5rem solid #14274e;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  //   border: 0.5rem solid #14274e;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 15rem;
  width: 22rem;
}

.image {
  height: 15rem;
  width: 18rem;
}

.button {
  width: 8rem;
  height: 2rem;
  background-color: #14274e;
  color: #fdf1d6;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
