.navbar {
  background: #14274e;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  min-width: 350px;
}

.navbar_container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.navlogo {
  color: #fdf1d6;
  justify-self: flex-start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;

  margin-left: 20px;
}

.navmenu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}
.navitem {
  height: 80px;
  border-bottom: 2px solid transparent;
}
.navitem:hover {
  border-bottom: 2px solid #f00946;
}
.navlink {
  color: #fdf1d6;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  cursor: pointer;
}

.menuicon {
  display: none;
}
@media screen and (max-width: 800px) {
  .navbar {
    transition: all 0.5s ease;
  }
  .navmenu {
    display: none;
    // display: flex;
    // flex-direction: column;
    // width: 100%;
    // height: 90vh;
    // position: absolute;
    // top: 80px;
    // left: -100%;
    // opacity: 1;
    // transition: all 0.5s ease;
  }
  // .navmenu.active {
  //   background: white;
  //   left: 0;
  //   opacity: 1;
  //   transition: all 0.6s ease;
  //   z-index: 1;
  // }
  .navlink {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navlink:hover {
    color: #f00946;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .navitem:hover {
    border: none;
  }

  .navitem {
    width: 100%;
  }

  .navlogo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menuicon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fdf1d6;
  }

  .fa-times {
    color: #fdf1d6;
    font-size: 2rem;
  }
}
